@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}


:root {
    --whitecolor: white;
    --red-color: red;
    --black-color: rgb(0, 0, 0);
}

body {
    background-color: black;
}

/* url ma image 
height 70vh view height  vw view-width
*/
.main {
    background: url('./images/bg.jpg');
    height: 70vh;
    background-position: center;
    background-size: cover;
    position: relative;


}


.main .box {
    height: 70vh;
    top: 0px;
    background-color: var(--black-color);
    position: absolute;
    opacity: 0.7;
    width: 100%;


}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 60vw;
    height: 60px;
    align-items: center;
    margin: auto;

}

nav img {
    width: 135px;
    z-index: 1;
    position: relative;
    /* height: 30px; */

}

nav button {
    position: relative;
    z-index: 1;
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
}

.btn-red {
    background-color: var(--red-color);
}

.hero {
    height: calc(100% - 60px);
    color: var(--whitecolor);
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0 30px;

}

.hero-1 {
    font-weight: 700;
    font-size: 48px;
}

.hero-2 {
    font-size: 24px;
    font-weight: 400;
}


.hero-3 {
    font-size: 20px;
    font-weight: 400;
}

.btn-white {
    color: white;
    background-color: #c92b2b;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;


}

.buttons {
    /* border: 1px solid red; */
    /* padding: 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.buttons input {
    font-size: 12px;
    border-radius: 4px;
    padding: 10px 101px 8px 14px;
    background-color: rgb(0, 0, 0, 0.2);
    color: white;
}

/* focus is psuedo class  */
input:focus {
    outline-color: red;
}

input::placeholder {
    font-family: 'Poppins';
    font-size: 15px;

}

.horizontal {
    height: 10px;
    background: #626161;
}


/* section first */
.first {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 63vw;
    margin: auto;
    /* margin-left: 13.5vw;
    margin-right: 13.5vw; */

}

.sectionImg {
    /* border: 1px solid #b81313; */
    position: relative;

}

.sectionImg img {
    position: relative;
    width: 550px;
    z-index: 1;




}

.sectionImg video {
    position: absolute;
    top: 64px;
    right: 10px;


}

.tv{
    display: flex;
   flex-direction: column;
}
.span1{
    font-size: 48px;
    font-weight:900;
}

.span2{
    font-size: 24px;
    font-weight: 400;
}