@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
}

.main {
    background: url('./images/bg.jpg');
    height: 70vh;
    background-position: center;
    background-size: cover;
    position: relative;


}

.main .box {
    height: 70vh;
    top: 0px;
    background-color: black;
    position: absolute;
    opacity: 0.7;
    width: 100%;


}

nav {
    background-color: rgb(34, 255, 0);
    display: flex;
    justify-content: space-between;
    max-width: 60vw;
    height: 62px;
    align-items: center;
    margin: auto;

}

nav img {
    width: 135px;
    z-index: 1;
    position: relative;
    /* height: 30px; */

}

nav button {
    position: relative;
    z-index: 1;
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
}

.btn-red {
    background-color: red;
}